{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    <div class="ACon">
        <div class="Profile">
            <div class="Img">
                <div class="overlay">
                    <span><img /></span>
                </div>
            </div>
            <div class="PopUp">Editer le profil</div>
            <div class="clickPopUp">
                <h4><a class="username" href="">Editer le profil</a></h4>
                <h5 class="buttons">
                    {{ form_widget(form.username) }}
                </h5>
                <h5 class="buttons">
                    {{ form_widget(form.email) }}
                </h5>
                <h5 class="buttons b">
                    {{ form_widget(form.current_password) }}
                </h5>
                <div class="Social">
                    <a href="javascript:{}" onclick="document.forms['fos_user_profile_form'].submit();">
                        <img id="logo" src="{{ asset('img/validate.svg') }}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
{{ form_end(form) }}