{% extends 'default/game.html.twig' %}

{% block content %}
<div id="game_timer"></div>
<div id="game_code">R2D2</div>
<div id="float_clear"></div>

<h2>{{ question }}</h2>
<div class="container" style="text-align:center">
    <br>


    <div class="col-lg-6 col-sm-6 wow fadeInLeft delay-05s animated">
        <table id="proposition1" class="table table-hover table-bordered table-responsive" style="background-color: #3498db !important; height: 10px; overflow:auto;">
            <form action="game" method="POST" id="proposition1_form" name="proposition1_form">
            <tr class="active">
                <input type="hidden" name="{{ next_post }}"/>
                <th class="proposition_th" id="proposition1_th" style="text-align: center" onclick="validate('proposition1_form')">
                    {{ proposition1 }}
                </th>
            </tr>
            </form>
        </table>
        <span id="player1_pseudo" style="visibility: hidden; display:inline;">{{ participant1 }}</span>
    </div>

    <div class="col-lg-6 col-sm-6 wow fadeInRight delay-05s animated">
        <table id="proposition2" class="table table-hover table-bordered table-responsive" style="background-color: #e67e22 !important; height: 10px; overflow:auto;">
            <form action="game" method="POST" id="proposition2_form" name="proposition2_form">
                <tr class="active">
                    <input type="hidden" name="{{ next_post }}"/>
                    <th class="proposition_th" id="proposition2_th" style="text-align: center;" onclick="validate('proposition2_form');">
                        {{ proposition2 }}
                    </th>
                </tr>
            </form>
        </table>
        <span id="player2_pseudo" style="visibility: hidden; display:inline;">{{ participant2 }}</span>
    </div>
    <div id="animate"><span id="score">+750</span></div>

    <!-- Liste des participants -->
    <div id="div_table_participants">
        <table id="table_participants">
            <tr>
                <td class="vote_proposition1">Test</td>
                <td class="vote_proposition2">Radium</td>
                <td class="vote_proposition1">Tatawa</td>
                <td class="vote_proposition1">Chou</td>

                <td class="vote_proposition2">Lina</td>
                <td class="vote_proposition2">Kevin</td>
                <td class="vote_proposition1">HenryMichel</td>
                <td class="vote_proposition1">Clém</td>
            </tr>
            <tr><td colspan="8">Audience : 15</td></tr>
        </table>
    </div>

</div>

{% endblock %}