{% extends 'base.html.twig' %}

{% block menuBar %}
{% endblock %}

{% block body %}
    <!--header-start-->
    <header class="header" id="header"><!--header-start-->
        <div class="container">
            <figure class="logo animated fadeInDown delay-07s">
                <!--<a href="#"><img src="img/dcqtv_logo.png" alt=""></a>-->
                <a href="#"><img id="startLogo" src="img/test/Icone.svg" alt=""></a>
            </figure>
            <h1 class="animated fadeInDown delay-07s">Bienvenue sur Dis ce que tu veux</h1>
            <ul class="we-create animated fadeInUp delay-1s">
                <li>Viens t'amuser avec tout tes amis ou même des inconnus !</li>
            </ul>
            <a id="letsgo" class="link animated fadeInUp delay-1s" href="
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ path('dcqtv_play') }}
                {% else %}
                    {{ path('fos_user_security_login') }}
                {% endif %}
            ">C'est parti !</a>
        </div>
    </header>
    <!--header-end-->
{% endblock %}

{% block stylesheets %}
<style>
    /*body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }*/

    .main-section {
        display: none;
    }

    .main-section.active-panel {
        display: block;
    }

    .main-section.hidden-panel {
        display: none;
    }

    <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/png">
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="img/x-icon">

    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,800italic,700italic,600italic,400italic,300italic,800,700,600' rel='stylesheet' type='text/css'>

    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/font-awesome.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/responsive.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/animate.css') }}" rel="stylesheet" type="text/css">

    <!--[if IE]><style type="text/css">.pie {behavior:url(PIE.htc);}</style><![endif]-->

    <script type="text/javascript" src="{{ asset('js/javascript.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery-scrolltofixed.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.easing.1.3.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.isotope.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/wow.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/classie.js') }}"></script>

    <!-- Fichiers pour WebSocketBundle -->
    <script type="text/javascript" src="{{ asset('bundles/goswebsocket/js/gos_web_socket_client.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/goswebsocket/js/vendor/autobahn.min.js') }}"></script>

    <script src="contactform/contactform.js"></script>
</style>
{% endblock %}

{% block footer %}
{% endblock %}
