{% extends 'base.html.twig' %}

{% block body %}
<section class="main-section" id="lobby">
    <h2>Lobby</h2>
    <h6>Attendez que tous les combattants rejoignent la salle avant de lancer la partie!</h6>
    <div class="container" style="text-align:center">

                {% if error is defined %}
                    {{ error.message }}
                {% else %}

                    {% if joining is defined %}
                        <input id="joiningType" type="hidden" value="joining"/>
                    {% elseif creation is defined %}
                        <input id="joiningType" type="hidden" value="creation"/>
                    {% endif %}
                    <input id="lobby_id" type="hidden" value="{{ room.id }}"/>
                    <input id="lobby_player_pseudo" type="hidden" value="{{ player_pseudo }}"/>
                    <input id="lobby_player_role" type="hidden" value="{{ player_role }}"/>
                    <input id="lobby_max_player_number" type="hidden" value="{{ room.capParticipants }}"/>
                    <!--TODO : Aspect fonctionnel avec WebSocket -->
                    <!--TODO : Création du design -->
                    Votre salon : {{ room.id }}<br/>

                    Id Créateur : {{ room.host.id }}<br/>

                    Liste des participants :
                    <ul id="lobby_participants_list">
                    {% for participant in room.participants %}
                        {% if participant.id == room.host.id %}
                            <li id="lobby_host">[HOST] {{ participant.pseudo }}</li>
                        {% else %}
                            <li>{{ participant.pseudo }}</li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                    <br/>

                    Liste de l'audience :
                    <ul id="lobby_audience_list">
                    {% if room.audience is empty %}
                        Personne dans l'audience pour le moment.
                    {% else %}
                        {% for audience_member in room.audience %}
                            <li>{{ audience_member.pseudo }}</li>
                        {% endfor %}
                    {% endif %}
                    </ul>
                    <br/>

                    Maximum de participants : {{ room.capParticipants }}<br/>

                    Type :
                    {% if room.type == 0 %}
                        Public
                    {% else %}
                        Privé - Code pour rejoindre le salon : {{ room.type }}
                    {% endif %}
                    <br/>
                {% endif %}
    </div>
</section>
{{ ws_client() }}
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('js/own_scripts/gws_lobby.js') }}"></script>
{% endblock %}
