{% extends 'base.html.twig' %}

{% block title %}Saloon{% endblock %}

{% block body %}
    {#{{ dump(rooms) }}#}
    <input id="player_pseudo" type="hidden" value="{{ app.user.username }}" xmlns="http://www.w3.org/1999/html"/>
    <section class="main-section" id="saloon">
        <h2>Saloon</h2>

        <form style="text-align:center;" method="GET" action="/lobby">
            Rejoindre via un code :
            <input size="4" type="text" name="lobby_code"/>
            <input class="link animated fadeInUp delay-05s saloonCodeEntry" type="submit" value="Entrer"/>
        </form>

        <h6>Consulter les salles de jeu disponibles</h6>
        <div class="container">
            <div class="col-lg-12 col-sm-12 wow">
                <div class="service-list" style="display: flex; align-items: center; justify-content: center;">
                    <form action="/lobby" method="post" style="display: inline-block; margin: 0; padding-right: 5px;">
                        <input type="text" placeholder="Code de la room privée"/>
                        <input type="hidden" name="lobby_player_role" value="participant"/>
                        <input type="hidden" name="lobby_join" value="true"/>
                        <input type="hidden" name="player_pseudo" value="{{ app.user.username }}"/>
                        <input type="image" src="{{ asset('img/play.svg') }}" style="width: 20px; height: 20px; margin: 0 auto;"/>
                    </form></br>
                    <form action="/lobby" method="post" style="display: inline-block; margin: 0;">
                        <input type="text" placeholder="Code de la room privée"/>
                        <input type="hidden" name="lobby_player_role" value="jury"/>
                        <input type="hidden" name="lobby_join" value="true"/>
                        <input type="hidden" name="player_pseudo" value="{{ app.user.username }}"/>
                        <input type="image" src="{{ asset('img/spectate.svg') }}" style="width: 20px; height: 20px; margin: 0 auto;"/>
                    </form>
                </div>
            </div>

            <table id="saloonTable" class="table table-hover table-bordered table-responsive" style="height: 10px; overflow:auto;">
                <tr class="active">
                    <th>Nom de la partie</th>
                    <th>Nombre de joueurs</th>
                    <th>Nombre de jury</th>
                    <th>Etat de la partie</th>
                    <th>Rejoindre</th>
                </tr>
                {% for room in rooms %}
                    <tr>
                        <td>Partie de {{ room.host.pseudo }}</td>
                        <td>{{ room.participants|length }}/{{ room.capParticipants }}</td>
                        <td>{{ room.audience|length }}</td>
                        <td>{{ room.state }}</td>
                        <td style="text-align: center">
                            <form action="/lobby" method="post" style="display: inline-block; margin: 0; padding-right: 5px;">
                                <input type="hidden" name="lobby_id" value="{{ room.id }}"/>
                                <input type="hidden" name="lobby_player_role" value="participant"/>
                                <input type="hidden" name="lobby_join" value="true"/>
                                <input type="hidden" name="player_pseudo" value="{{ app.user.username }}"/>
                                <input type="image" src="{{ asset('img/play.svg') }}" style="width: 20px; height: 20px; margin: 0 auto;"/>
                            </form>
                            <form action="/lobby" method="post" style="display: inline-block; margin: 0;">
                                <input type="hidden" name="lobby_id" value="{{ room.id }}"/>
                                <input type="hidden" name="lobby_player_role" value="jury"/>
                                <input type="hidden" name="lobby_join" value="true"/>
                                <input type="hidden" name="player_pseudo" value="{{ app.user.username }}"/>
                                <input type="image" src="{{ asset('img/spectate.svg') }}" style="width: 20px; height: 20px; margin: 0 auto;"/>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                {#<tr>
                    <td>Partie de john</td>
                    <td>3/8</td>
                    <td>15</td>
                    <td>Attente - Salon</td>
                    <td style="text-align: center">
                        <input type='image' src='img/play.svg' style='width: 20px; height: 20px; margin: 0 auto;'/>
                        <input type='image' src='img/spectate.svg' style='width: 20px; height: 20px; margin: 0 auto;'/>
                    </td>
                </tr>#}
            </table>
        </div>
    </section>
    {{ ws_client() }}
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/own_scripts/gws_saloon.js') }}"></script>
{% endblock %}