{% trans_default_domain 'FOSUserBundle' %}

{#{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
{{ form_end(form) }}#}
<form id="fos_user_change_password_form" name="fos_user_change_password_form" action="{{ path('fos_user_change_password') }}" method="post">
    <div class="ACon">
        <div class="Profile">
            <div class="Img">
                <div class="overlay">
                    <span><img /></span>
                </div>
            </div>
            <div class="PopUp">Editer le profil</div>
            <div class="clickPopUp">
                <h4><a class="username" href="">Changer le mot de passe</a></h4>
                <h5 class="buttons">
                    {{ form_widget(form.current_password, { 'attr': {'placeholder': 'Mot de passe actuel'} }) }}
                </h5>
                <h5 class="buttons">
                    {{ form_widget(form.plainPassword.first, { 'attr': {'placeholder': 'Nouveau mot de passe'} }) }}
                </h5>
                <h5 class="buttons b">
                    {{ form_widget(form.plainPassword.second, { 'attr': {'placeholder': 'Confirmez le mot de passe'} }) }}
                </h5>
                <div class="Social">
                    <a href="javascript:{}" onclick="document.forms['fos_user_change_password_form'].submit();">
                        <img id="logo" src="{{ asset('img/validate.svg') }}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>